# all hidden files and directories
.*
!.gitignore

# directories
__pycache__
data/
env/
gguf/
output/
uploads/

# files
*.bmp
*.code-workspace
*.db
*.gguf
*.ipynb
*.jpeg
*.jpg
*.json
*.log
*.mkv
*.mp3
*.mp4
*.png
*.tiff
*.wav
*.webm
*.zip
